*.svn
*~
nbproject/
cache/
library/Wms/Domain/Proxy/
library/Core/Pdf/font/unifont/*.mtx.php
library/Core/Pdf/font/unifont/*.cw.dat
library/Core/Pdf/font/unifont/*.cw127.php
data/CodigoBarras/
data/profiler
.project
.buildpath
.settings/
.vagrant
.idea/
.DS_Store
data/log
application.ini
webservices.ini
autoload.php
library/composer