﻿*.svn
*~
nbproject/
library/Wms/Domain/Proxy/
library/Core/Pdf/font/unifont/*.mtx.php
library/Core/Pdf/font/unifont/*.cw.dat
library/Core/Pdf/font/unifont/*.cw127.php
data/CodigoBarras/
data/profiler
.project
.buildpath
.settings/
.vagrant
.idea/
.DS_Store
application.ini
webservices.ini
library/zendframework
library/composer
library/autoload.php
zend_cache*
autoload.php
library/composer
*.xml
*.XML
library/Adl
library/bin
library/cilex
library/container-interop
library/erusev
library/herrera-io
library/jms
library/justinrainbow
library/kherge
library/monolog
library/nikic
library/phpdocumentor
library/phpoption
library/pimple
library/psr
library/seld
library/seld
library/Symfony
library/twig
library/zetacomponents
library/phpcollection
