<div id="lista-existentes-endereco">
    <table style="width: 100%">
    <tr style="height:22px; font-weight:bold; background: #dedede; text-indent: 5px">
        <td>Sobrepor</td>
        <td>Endereço</td>
        <td>Caracteristica</td>
        <td>Area Armazenagem</td>
        <td>Estrutura Armazenagem</td>
    </tr>
    <%= $.View('//wms/views/deposito_endereco/list',{enderecos: enderecos})%>
    <tr>
        <td colspan="5"><button id="btn-continuar">Continuar</button></td>
    </tr>
    </table>
</div>