@import url("steps.css");

/* 
    Document   : admin/style.css
    Created on : Apr 11, 2011, 11:15:27 AM
    Author     : Medina
    Description: Mainly structure of the software
*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-collapse: collapse;
    font-family: 'Arial';
    font-size: 11px;
}
html {
    height: 100%;
}
body {
    background: #FFF repeat top left url(../../img/admin/bg_body.png);
    /*height: 100%;*/
    min-height: 50%;
}
    input.btnExcluirGrupo {
        cursor: pointer;
        border: none;
        text-indent: 20px;
        background: url(../../img/icons/delete.png) no-repeat left center #FFF;
    }
#body {
    display: table;
    width: 1000px;
    margin: auto;
    min-width: 1000px;
    background: #FFF;
    height: 100%;
    position: relative;
}

#top, #menu, #content, #footer {
    float:left;
    display:block;
    width:100%;
}

#content{
    min-height: 400px;
}

/*********************
  Top
*********************/
#top {
    background: repeat-x top left url(../../img/admin/header_top_bg.gif);
    height: 40px;
}
#top #userInfo {
    float:right;
    color:#FFF;
    line-height:25px;
    margin:5px 5px 0 0;
}
#top #userInfo span {
    margin:15px;
}
#top #userInfo img {
    vertical-align:middle;
    border:none;
}
#top #userInfo a {
    color:#FFC402;
}
#top h1 {
    display:block;
    width:65px;
    height:25px;
    background:no-repeat center center url(../../img/admin/logo.png);
    text-overflow:hidden;
    text-indent:-9999px;
    margin:5px 0 0 5px;
}

.development, .development #userInfo {
    color:red !important;
}


ul.flashMessenger {
    display: block;
    width: 100%;
    list-style: none;
}
ul.flashMessenger li {
    display: block;
    padding: 1px 10px 1px 20px;
    margin-bottom: 4px;
    line-height: 22px;
    background: #F9F5D1;
    text-indent: 10px;
    border: 1px solid #FFC402;
}

ul.flashMessenger li a.fmBtnClose {
    color: #999;
    font-size: 13px;
    font-weight: bold;
}

ul.flashMessenger li {
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

ul.flashMessenger li.msg_message {
    background-image: url(../../img/icons/help.png);
}

ul.flashMessenger li.error_message {
    background-image: url(../../img/icons/error.png);
}

ul.flashMessenger li.info_message {
    background-image: url(../../img/icons/information.png);
}

ul.flashMessenger li.success_message {
    background-image: url(../../img/icons/accept.png);
}

ul.flashMessenger li.warning_message {
    background-image: url(../../img/icons/exclamation.png);
}


/*********************
  Menu
*********************/
#menu {
    float:left;
    clear:both;
    display:table;
    width:100%;
    padding:2px 0;
    line-height:21px;
    border-bottom: 1px solid #999;
    background:#eee;
}

/*********************
  Content
*********************/
#content .contentPadding {
    display: block;
    margin:0 5px 0 5px;
}
#panelPage {
    display:table;
    width:100%;
    border-bottom:2px solid #E0E0E0;
    margin:5px 0;
}
#panelPage .left {
    float:right;
}
h4 {
    color:#F79C00;
    font-size:13px;
    background:url(../../img/icons/folder.png) no-repeat left center;
    text-indent:25px;
    line-height:25px;
}

/* Footer */
#footer {
    /*position: absolute;*/
    bottom: 0;
    background: repeat-x 0 -20px url(../../img/admin/footer_bg.gif) #E0E0E0;
    padding: 80px 0 10px 0;
    margin-top: 10px;
}
#footer p {
    text-align:right;
    margin-right: 5px;
}

/*********************
  Buttons
*********************/
button, .btn, button.back, .btnBack, .btnAjuda, .btnAlert {
    background: url(../../img/admin/btn_bg.gif) repeat-x scroll 0 0 #F77C16;
    border-color: #ED6502 #A04300 #A04300 #ED6502;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    font-size: 11px;
    padding: 0 7px 1px;
    text-align: center !important;
    white-space: nowrap;
    line-height: 16.5px;
    display: inline-block;
}

.btnAction {
    background: url(../../img/admin/btn_bg_back.gif) repeat-x scroll 0 0 #F77C16;
    padding: 1px 7px 1px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #CCC;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    text-align: center !important;
    white-space: nowrap;
    line-height: 16.5px;
    display: inline-block;   
}

button.back span, .btnBack span {
    background: no-repeat url(../../img/admin/icon_btn_back.gif) left top;
    padding-left:18px;
}
button.add span, .btnAdd span {
    background: no-repeat url(../../img/admin/add_btn_icon.gif) left top;
    padding-left:18px;
}
button:hover, .btn:hover {
    background: url(../../img/admin/btn_bg_over.gif) repeat-x scroll 0 0 #F77C16;
}
button.back, .btnBack {
    background: url(../../img/admin/btn_bg_back.gif) repeat-x scroll 0 0 #F77C16;
    background-color: #FFFFFF;
    border-color: #CCCCCC #AAAAAA #AAAAAA #CCCCCC;
    color: #555;
}
button.back, .btnBack {
    background: url(../../img/admin/btn_bg_back.gif) repeat-x scroll 0 0 #F77C16;
    background-color: #FFFFFF;
    border-color: #CCCCCC #AAAAAA #AAAAAA #CCCCCC;
    color: #555555;
}
button.alert, .btnAlert {
    background: url(../../img/admin/btn_alert_bg.png) repeat-x scroll 0 0 #e0ce06;
    border-color: #CCCCCC #AAAAAA #AAAAAA #CCCCCC;
    color: #333;
}

.ui-dialog-content form {
    width: auto;
    min-width: auto !important;
}

h3.erroMessageSys {
    background: url(../../img/icons/information.png) no-repeat left center;
    text-indent: 20px;
    margin-top: 10px;
    line-height: 23px;
}

table.details {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #CCC;
}

table.details td {
    text-indent: 2px;
    line-height: 21px;
}

table.details .title {
    font-weight: bold;
}

table caption {
    text-indent: 3px;
    text-align: left;
    color: #2296cb;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
}

table.detailsPopUp {
    width: 100%;
    margin-bottom: 10px;
}

table.detailsPopUp td {
    text-indent: 2px;
    line-height: 15px;
}

table.detailsPopUp .title {
    font-weight: bold;
}

hr.detailsPopUp{
    margin-bottom: 10px;
    margin-top: 10px;
}

.padding-top {
    padding-top:20px;
}